@import '../../../node_modules/hsluv-sass/src/hsluv';

/**
 * Absolute Colors
 *
 * These colors are the darkest and lightest possible colors in your system.
 */
$darkest-color: rgb(0, 0, 0);
$lightest-color: rgb(255, 255, 255);

/**
 * Hues
 *
 * The following is a mapping between a color's name and its hue.
 */
$hues: (
  'red':     11,
  'orange':  19,
  'bronze':  39,
  'olive':   86,
  'green':   128,
  'teal':    196,
  'blue':    258,
  'purple':  274,
  'violet':  288,
  'magenta': 313,
  'pink':    0,
);

/**
 * Saturation & Lightness
 *
 * These values will determine the amount of saturation and lightness used in
 * the final color swatches.
 */
$saturation: 100;
$lightness: 50;

/**
 * Swatches
 */
$swatch-options: (
  // The amount of steps in the swatch. Includes the start and end colors.
  'colors': 13,
  // Each step in the scale will be separated by an equal amount of lightness.
  'correctLightness': 1,
);

@mixin create-swatch($name, $color) {
  $scale: chromatic-scale(
    $darkest-color,
    $color,
    $lightest-color,
    $swatch-options
  );

  @for $i from 1 to map-get($swatch-options, 'colors') - 1 {
    --e-#{$name}-#{$i - 1}: #{nth($scale, $i + 1)};
  }
}

/**
 * Contrast Colors
 *
 * These colors should be used to keep a high enough contrast ratio for each
 * swatch. Each color in a swatch has a corresponding contrast color that can
 * either be used as:
 * - The background color when the swatch color is the text color.
 * - The text color when the background is the swatch color.
 */
$dark-contrast: $darkest-color;
$light-contrast: $lightest-color;

@mixin create-color-contrasts() {
  $midpoint: floor((map-get($swatch-options, 'colors') - 2) / 2);

  @for $i from 0 to $midpoint  {
    --e-color-contrast-#{$i}: #{$light-contrast};
  }

  @for $i from $midpoint through 10 {
    --e-color-contrast-#{$i}: #{$dark-contrast};
  }
}

html {
  @include create-swatch('grey', rgb(128, 128, 128));

  @each $name, $hue in $hues {
    @include create-swatch($name, hsluv($hue, $saturation, $lightness));
  }

  @include create-color-contrasts();
}
