html {
  --e-font-weight-thin: 100;
  --e-font-weight-extra-light: 200;
  --e-font-weight-light: 300;
  --e-font-weight-normal: 400;
  --e-font-weight-medium: 500;
  --e-font-weight-semi-bold: 600;
  --e-font-weight-bold: 700;
  --e-font-weight-extra-bold: 800;
  --e-font-weight-black: 900;
}
